<h1>You have successfully added a definition</h1>
<a href="/words/<%= @word.id %>"><button class="btn btn-default">View definitions</button></a>
<a href="/words/<%= @word.id %>/new"><button class="btn btn-default">Add another definition</button></a>
