<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h3>It seems you have no words, would you like to add one?</h3>
    <a href="/words/new" class="btn btn-default"><i class="fa fa-plus"></i> Add word</a>    
  </div>
</div>
