<h1><%= @word.word %></h1>
<% if @word.definitions.length > 0 %>
  <% @word.definitions.each do |definition| %>
  <ol>
    <li><em><%= definition.type %></em>: <%= definition.def %></li>
    <% end %>
  </ol>
  <br>
<% else %>
  <h4>Looks like you have no definitions</h4>
<% end %>
<a href="/words/<%= @word.id %>/new"><i class="fa fa-plus"></i> Add definition</a>
<br>
<a href="/words"><button class="btn btn-default">View words</button></a>
