<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <h1>You have successfully added a word</h1>
    <a href="/words"><button class="btn btn-default">View words</button></a>
  </div>
</div>
