<h1 class="text-center">Words</h1>
<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <ul>
      <% @words.each() do |word| %>
        <li style="font-size:20px;"><a href="/words/<%= word.id %>"><%= word.word %></a></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="buttons">
  <a href="/words/new" class="btn btn-default"><i class="fa fa-plus"></i> Add word</a>
  <a href="/clear" class="btn btn-default"><i class="fa fa-minus"></i> Delete all words</a>
  <a href="/a_z" class="btn btn-default"><i class="fa fa-sort-alpha-asc"></i> Sort a-z</a>
  <a href="/z_a" class="btn btn-default"><i class="fa fa-sort-alpha-desc"></i> Sort z-a</a>
  <a href="/all" class="btn btn-default"><i class="fa fa-file-text-o"></i> View all definitions</a>
</div>
